.dashboard-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    padding: 0 20px;
}

section {
    background: transparent;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

section h3 {
    margin-bottom: 30px;
}

section ul li {
    padding: 3px 0;
}

.welcome-section {
    display: flex;
    align-items: center;
}

.dashboard-section {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-around;
}

.quick-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.actions button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.actions button:hover {
    background-color: #0056b3;
}

.activity-feed ul,
.upcoming-appointments ul,
.notifications ul {
    list-style: none;
    padding: 0;
}

.progress-bar {
    background: #e0e0e0;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 10px;
}

.progress {
    background: #4caf50;
    height: 20px;
    border-radius: 20px;
    text-align: center;
    color: white;
}

.stats-chart {
    height: 200px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin-top: 10px;
}



.services-dash {
    padding: 20px;
    margin: 20px;
    background: transparent;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.section-dash-title {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-bottom: 20px;
}

.service-dash-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.service-dash-item {
    background-color: rgba(29, 41, 67, 0.3);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.service-dash-item h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-bottom: 10px;
}

.service-dash-item p {
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 20px;
    font-weight: 300;
}

.service-dash-item:hover {
    background-color: rgba(29, 41, 67, 0.429);
    transform: translateY(-5px);
}

.service-dash-item .btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.service-dash-item .btn:hover {
    background-color: #0056b3;
}
