.service-form-cto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.service-form-cto  p {
    font-size: 25px;
    font-weight: normal;
}

.service-form-cto a {
    color: #006FFF;
    text-decoration: none;
}

.service-form-content {
    color: white;
    width: fit-content;
    margin: 0 auto;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    background: rgba(14, 17, 47, 0.5);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}

.service-form-content-auth {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    width: fit-content;
    margin: 0 auto;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    background: rgba(14, 17, 47, 0.5);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}

.service-form-register {
    width: 100%; /* Adjust width as needed */
    margin: 0 auto; /* Center horizontally */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 50px 0px 50px;
    box-sizing: border-box;
}

.service-form-group {
    margin: 10px;
    padding: 0 10px;
}

.service-input-box {
    position: relative;
    margin-bottom: 20px;
    gap: 10px;
}

.service-input-box input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: white;
    background: transparent;
    border: none;
    border-bottom: 1px solid #ddd;
    outline: none;
    z-index: 1;
}

.service-input-box select{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color: transparent;;
    border: none;
    border-bottom: 1px solid #ddd;
    outline: none;
}



.service-input-box input:focus, .service-input-box select:hover {
    border-bottom: 1px solid #006FFF;
    color: white;
}

.service-input-box span {
    position: absolute;
    left: 0;
    top: 10px;
    color: #aaa;
    transition: top .3s ease, color .3s ease;
    z-index: 0;
}

.service-input-box input:focus ~ span,
.service-input-box input:valid ~ span {
    top: -10px;
    font-size: 12px;
    color: #006FFF;
}


.service-form-submit {
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    background-color: #006FFF;
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    font-weight: normal;
    color: white;
    font-size: 20px;
}

.service-form-submit button {
    border: none;
    background-color: transparent;
    padding: 0;
    outline: none;
    color: white;
    width: 100%;
    height: 100%;
}