.content {
    padding: 20px;
}

.services-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.service-card {
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 470px;
    transition: all .2 ease;
}

.service-card:hover {
    transform: scale(1.05);
}

.service-card h3 {
    margin-top: 0;
    color: #006FFF;
}

.service-card p {
    margin: 5px 0;
}
