{% extends 'layout.html' %}
{% block content %}
    <h1 class="row-content">Quick links</h1>
    <hr style="margin: 20px 0;">
    <div class="" style="justify-content: space-around; align-items: center; text-align: center;">
        <div class="quick-links blur"><a href="{{url_for('routes.service_request')}}">Request Service</a></div>
        <div class="quick-links blur"><a href="{{url_for('routes.new_vehicle')}}">Manage new Vehicle</a></div>
        <div class="quick-links blur"><a href="{{url_for('routes.logout')}}">Log out</a></div>
    </div>
{% endblock content %}