<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Josefin+Sas:ital, wght@0,100;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:wght@700;800;900&display=swap">
    <title>{{title}}</title>
</head>
<body>
    <div class="content">
        <nav class="hero">
            <h3 class="logo">PIT<span class="logo-design">STOP</span></h3>
            <ul>
                <li>Home</li>
                <li>About</li>
                <li>Support</li>
            </ul>
            <a href="{{ url_for('auth.login') }}"><button class="nav-cto">Log in</button></a>
                
        </nav>
        <div class="flash-container">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="flash-message">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        <h1 class="heading-1">MECHANICS ON THE MOVE</h1>
        <h1 class="heading-2">FOR CARS THAT CANT</h1>
        <p class="center-text">At PITSTOP, we turn car troubles into smooth rides. Our expert mechanics come to <span class="blue-bold">YOU</span>, delivering top-tier service wherever your car rests. Say goodbye to downtime and hello to effortless auto care!</p>
        <a href="{{url_for('auth.register')}}"><button class="cto-content">GET STARTED</button></a>
        
    </div>
</body>
</html>
