<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/dashboard.css">
    <link rel="stylesheet" href="../static/styles/design.css">
    <link rel="stylesheet" href="../static/styles/service.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/register.css') }}">
    <title>{{title}}</title>
</head>
<body>
    <nav class="sidebar">
        <header>
            <div class="header-image">
                <div class="img"></div>
                <p class="header-text">Ahadi</p>
            </div>
            <br class="breakline">
        </header>
        <ul>
            <li><a href="{{url_for('routes.dashboard')}}">Dashboard</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="{{url_for('routes.vehicles')}}">Vehicles</a></li>
            <li><a href="{{url_for('routes.services')}}">Current services</a></li>
            <li><a href="#">Mechanics</a></li>
        </ul>
    </nav>
    <div class="body-content">
        {% block content %}{% endblock content %}
    </div>
</body>
</html>