<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/register.css') }}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Josefin+Sas:ital, wght@0,100;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:wght@700;800;900&display=swap">
    <title>{{title}}</title>
</head>
<body>
    <div class="content">
        <nav class="hero">
            <h3 class="logo-auth">PIT<span class="logo-design">STOP</span></h3>
        </nav>
        <div class="flash-container">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="flash-message">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        <form method="POST">
            <div class="form-content-auth">
                <div class="form-cto">
                    <p>Manage new vehicle</p>
                    <a href="{{ url_for('vehicles.vehicle_list') }}">Cancel</a>
                </div>
                <div class="form-register">
                    <div class="form-group">
                        <div class="input-box">
                            <input type="text" name="vehicle_brand" id="vehicle_brand" required style="text-transform: capitalize;">
                            <span>Vehicle Brand</span>
                        </div>
                        <div class="input-box">
                            <input type="text" name="vehicle_model" id="vehicle_model" required>
                            <span>Vehicle Model</span>
                        </div>
                        <div class="input-box">
                            <input type="text" name="license_plate" id="license_plate" required style="text-transform: uppercase;">
                            <span>License Plate</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-box">
                            <select name="type" id="type" required>
                                <option value="" disabled selected>Vehicle type</option>
                                <option value="Automatic">Automatic</option>
                                <option value="Manual">Manual</option>
                                <option value="Hybrid">Hybrid</option>
                            </select>
                            <!-- <span>Automatic/Manual/Hybrid</span> -->
                        </div>
                        <div class="input-box">
                            <input type="number" name="year" id="year" required oninput="this.value = this.value.slice(0,4)">
                            <span>Year</span>
                        </div>
                        <div class="input-box">
                            <input type="text" name="color" id="color" required>
                            <span>Color</span>
                        </div>
                        
                    </div>
                </div>
                <button type="submit" class="form-submit">Proceed</button>
            </div>
        </form>
        
    </div>
</body>
</html>
