<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/register.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400;500;600;700&family=Montserrat:wght@700;800;900&display=swap">
    <title>{{title}}</title>
</head>
<body>
    <div class="content">
        <nav class="hero">
            <h3 class="logo-auth">PIT<span class="logo-design">STOP</span></h3>
        </nav>
        <form method="POST">
            <div class="form-content-auth">
                <div class="form-cto">
                    <p>Join the Community</p>
                    <a href="{{ url_for('auth.login') }}">already have an account?</a>
                </div>
                <div class="form-register">
                    <div class="form-group">
                        <div class="input-box">
                            <input type="text" name="first_name" id="first_name" required style="text-transform: capitalize;">
                            <span>First Name</span>
                        </div>
                        <div class="input-box">
                            <input type="text" name="username" id="username" required>
                            <span>Username</span>
                        </div>
                        <div class="input-box">
                            <input type="password" name="password" id="password" required>
                            <span>Password</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-box">
                            <input type="text" name="last_name" id="last_name" required style="text-transform: uppercase;">
                            <span>Last Name</span>
                        </div>
                        <div class="input-box">
                            <input type="email" name="email" id="email" required>
                            <span>Email</span>
                        </div>
                        <div class="input-box">
                            <input type="password" name="confirm_password" id="confirm_password" required>
                            <span>Confirm Password</span>
                        </div>
                    </div>
                </div>
                <button type="submit" class="form-submit">Register</button>
            </div>
        </form>
    </div>

    <script>
        const BASE_URL = "{{ url_for('api.check_user', _external=True) }}";
    </script>
    <script src="{{ url_for('static', filename='scripts/register.js') }}"></script>
</body>
</html>
