{% extends 'layout.html' %}
{% block content %}
<form method="POST">
    <div class="form-content-service">
        <div class="service-form-cto">
            <p>Schedule a new service</p>
            <a href="{{ url_for('dashboard.dashboard_route') }}">cancel</a>
        </div>
        <div class="form-service">
            <div class="form-group-service">
                <div class="input-box-service">
                    <select name="vehicle_id" id="vehicle_id" required>
                        {% if spec_vehicle %}
                            <option value="" disabled>Select a vehicle</option>
                            <option value="{{ spec_vehicle }}" selected>{{ spec_vehicle }}</option>
                        {% else %}
                            <option value="" disabled selected>Select a vehicle</option>
                        {% endif %}
                        {% for vehicle in vehicles %}
                            <option value="{{ vehicle.make }}">{{ vehicle.make }} </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group-service">
                <div class="input-box-service">

                    <input list="services" name="service_id" id="service_id" required
                        value="{{ spec_service if spec_service else '' }}"
                        placeholder="service type">
                    <datalist id="services">
                        {% for service in services %}
                            <option value="{{ service.name }}">{{ service.name }}</option>
                        {% endfor %}
                    </datalist>

                </div>
            </div>
        </div>
        <div class="form-desc">
            <div class="form-group-service">
                <div class="input-box-description">
                    <input type="text" name="description" id="description" placeholder="Describe the conditions of your vehicle" required>
                </div>
            </div>
        </div>
        <div class="form-desc">
            <div class="form-group-service">
                <div class="input-box-time">
                    <label for="appointment_time">Appointment Time</label>
                    <input type="datetime-local" name="appointment_time" id="appointment_time" required>
                </div>
            </div>
        </div>
        <button type="submit" class="form-submit">Schedule</button>
    </div>
</form>
{% endblock content %}