{% extends 'layout.html' %}
{% block content %}
    <div class="content">
        <div class="space-between">
            <h3>Your vehicles</h3>
            <div class="button-general">
                <a href="{{ url_for('routes.new_vehicle') }}">Add new car</a>
            </div>
        </div>
        <div class="list-content blur row-content">
            <div class="list-group">
                <pre class="list-item">Name: --</pre>
                <p class="list-item">Model: --</p>
                <p class="list-item">Plate: --</p>
            </div>
            <div class="list-group">
                <pre class="list-item">Type: --</pre>
                <p class="list-item">Year: --</p>
                <p class="list-item">Color: --</p>
            </div>
            <div class="list-group">
                <pre class="list-item">edit vehicle</pre>
                <p class="list-item">remove vehicle</p>
                <p class="list-item">added on: --</p>
            </div>
        </div>
        <hr style="margin: 10px 0;">
        <div class="list-content blur row-content">
            <div class="list-group">
                <pre class="list-item">Name: --</pre>
                <p class="list-item">Model: --</p>
                <p class="list-item">Plate: --</p>
            </div>
            <div class="list-group">
                <pre class="list-item">Type: --</pre>
                <p class="list-item">Year: --</p>
                <p class="list-item">Color: --</p>
            </div>
            <div class="list-group">
                <pre class="list-item">edit vehicle</pre>
                <p class="list-item">remove vehicle</p>
                <p class="list-item">added on: --</p>
            </div>
        </div>

    </div>
{% endblock content %}